<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunzhi.edu.dao.SchoolTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.yunzhi.edu.entity.SchoolTeacher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="staff_num" property="staffNum" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="is_activate" property="isActivate" jdbcType="BIT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_code, real_name, staff_num, class_id, start_time, is_activate, avatar, password, 
    salt, phonenum, description, sex,role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from school_teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByStaffNumAuthentication" resultMap="BaseResultMap">
    select 
    id, staff_num, password, salt, org_code,role_name
    from school_teacher
    where 
        staff_num = #{staffNum,jdbcType=VARCHAR}
        and org_code = #{orgCode,jdbcType=VARCHAR}
  </select>
  
  
  
  <select id="selectTeacherSelective" resultMap="BaseResultMap">
    select 
        id, org_code, real_name, staff_num, class_id, start_time, is_activate, avatar,
        phonenum, description, sex,role_name
     from school_teacher
    <where>
      <if test="id != null">
        id = #{id, jdbcType=BIGINT}
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR}
      </if>
      <if test="staffNum != null" >
        staff_num = #{staffNum,jdbcType=VARCHAR}
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR}
      </if>
      <if test="isActivate != null" >
        is_activate = #{isActivate,jdbcType=BIT}
      </if>
    </where>
  </select>
  
  <select id="listTeacherSelective" resultMap="BaseResultMap" parameterType="com.yunzhi.edu.entity.SchoolTeacher">
    select * from school_teacher
    <where >
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR}
      </if>
      <if test="isActivate != null" >
        is_activate = #{isActivate,jdbcType=BIT}
      </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from school_teacher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunzhi.edu.entity.SchoolTeacher" >
    insert into school_teacher (id, org_code, real_name, 
      staff_num, class_id, start_time, 
      is_activate, avatar, password, 
      salt, phonenum, description, sex
      role_name)
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{staffNum,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{isActivate,jdbcType=BIT}, #{avatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{phonenum,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{sex, jdbcType=CHAR}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunzhi.edu.entity.SchoolTeacher" >
    insert into school_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="staffNum != null" >
        staff_num,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="isActivate != null" >
        is_activate,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="staffNum != null" >
        #{staffNum,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="isActivate != null" >
        #{isActivate,jdbcType=BIT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex, jdbcType=CHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunzhi.edu.entity.SchoolTeacher" >
    update school_teacher
    <set >
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="staffNum != null" >
        staff_num = #{staffNum,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="isActivate != null" >
        is_activate = #{isActivate,jdbcType=BIT},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
      sex = #{sex, jdbcType=CHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunzhi.edu.entity.SchoolTeacher" >
    update school_teacher
    set org_code = #{orgCode,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      staff_num = #{staffNum,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      is_activate = #{isActivate,jdbcType=BIT},
      avatar = #{avatar,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      sex = #{sex, jdbcType=CHAR},
      role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>