<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunzhi.edu.dao.SchoolDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.yunzhi.edu.entity.SchoolDepartment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_code, department_id, department_name, description
  </sql>
  <sql id="selective_insert_column">
    insert into school_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
  </sql>
  <sql id="selective_insert_value_column">
    <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description, jdbcType=VARCHAR},
      </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from school_department
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="listDepartmentByOrgCode" resultMap="BaseResultMap">
    select * from school_department
   where
        org_code = #{orgCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from school_department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunzhi.edu.entity.SchoolDepartment" >
    insert into school_department (id, org_code, department_id, 
      department_name,description)
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunzhi.edu.entity.SchoolDepartment" >
    <include refid="selective_insert_column" />
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <include refid="selective_insert_value_column"/>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yunzhi.edu.entity.SchoolDepartment" >
    update school_department
    <set >
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description, jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunzhi.edu.entity.SchoolDepartment" >
    update school_department
    set org_code = #{orgCode,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      description = #{description, jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>